.contents
  .contents__left
    = link_to edit_user_registration_path do
      %i.fa.fa-cog.contents__left__fontawesome
    = link_to new_group_path do
      %i.fa.fa-edit.contents__left__fontawesome
    .contents__left__user=link_to current_user.name, edit_user_registration_path
    .contents__left__group
      %ul.contents__left__group__list
        - @groups.each do |a|
          =render "group",group: a
  .contents__right
    .contents__right__edit=link_to 'Edit', edit_group_path(@group)
    %ul.contents__right__group-space
      %li#group=@group.name
      - @users.each do |b|
        = render "user",user: b
    .contents__right__comment-space
      %ul.contents__right__comment-space__message
        = render @messages
    = form_for [@group,@message] do |f|
      .contents__right__comment-space__writting.clearfix
        = f.submit "Send",class: "contents__right__comment-space__writting__send"
        .contents__right__comment-space__writting__something
          .contents__right__comment-space__writting__something__fontawesome.fa.fa-photo
          = f.text_field :text,placeholder: "type a message",class: "contents__right__comment-space__writting__something__type"
